.f2 {font-size: 2rem!important;}
.f3 {font-size: 3rem!important;}
.f4 {font-size: 4rem!important;}
.f5 {font-size: 5rem!important;}
.posR {position: relative;}
.btn {font-size: 1.7rem!important; font-weight: bold;}
.form-control, .btn {min-height: 38px; border-radius: 2px;}
/* .v-list-item .v-list-item__subtitle,  */
.v-list-item .v-list-item__title{font-size: 1.3rem;}
.v-toolbar__content .v-toolbar__title { font-size: 2rem;}
.v-btn.v-size--default { font-size: 1.2rem;}
.v-calendar-weekly__head-weekday {border-bottom: 1px solid black; background-color: #f4f9ff; color:black!important;}
.grid-header{font-weight: bold!important; font-size:1.7rem!important; color:black!important;}
.grid-body{font-size: 1.3rem!important;}
.col-hover { background-color: #f4f9ff!important;}
.activeComponent { background-color: #f4f9ff; }
.isLogout { position:absolute; width: 100%; bottom:10px; }
.isUpdate { position:absolute; width: 100%; bottom:66px; }
.isDownload { position:absolute; width: 100%; bottom:122px; }
.di { display: inline; }
.selectNode { background-color: #e2efff!important; }
.v-data-table>.v-data-table__wrapper>table>tbody>tr>td, .v-data-table>.v-data-table__wrapper>table>tfoot>tr>td, .v-data-table>.v-data-table__wrapper>table>thead>tr>td {
    font-size: 1.2rem;
    height: 35px;
}
.main-component {
    width: calc(100% - 256px);
    margin-left: 256px;
    display: flex;
    justify-content : center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
.mobile-component {
    width : 100%!important;
    margin-left : 0px!important;
}
.grid-right-line {
    border-right: thin solid rgba(0,0,0, .12);
}
.elevation-1 th {
    font-size : 1.5rem!important;
    color:black!important;
}
.elevation-1 td {
    font-size : 1.4rem!important;
}
.vSelect > .v-list-item__title {
    font-size: 1.6rem!important;
}
.v-data-footer {
    font-size : 1.5rem;
}
.v-data-footer__select .v-select__selections .v-select__selection--comma {
    font-size : 1.2rem;
}
.required label:after {
    content:" *";
    color: red;
}
.downBtn {
    -webkit-box-shadow : none!important;
    box-shadow : none!important;
    background-color: unset!important;
    color : black!important;
}
.login .v-application--wrap { min-height: auto; }
img { width: 100%; position: relative; }
.navBar i{ font-size: 35px!important; }